@import 'core/styles/base';

:local {
  .tooltipWrapper {
    position: fixed;
    min-width: 8rem;
    @include blurry-bg;
    @include box-shadow;
    border-radius: var(--duv-size-border-radius-m);
    padding: 0.5rem;
    @include tabular-nums;
    z-index: 9;
    visibility: hidden;
    pointer-events: none;
  }
  .visible {
    visibility: visible;
  }

  .tip {
    position: absolute;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    border-radius: var(--duv-size-border-radius-s);
    transform: translateX(-50%) rotate(45deg);
    @include blurry-bg;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    // clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }
}
