@import 'core/styles/base';

:local {
  .pagination {
    position: relative;
    margin-top: 0.5em;
    // um Button padding visuell auszugleichen
    transform: translateX(-1em);
  }
  .goto,
  .next,
  .prev {
    margin-right: 2px;
    &:disabled {
      opacity: 0.5;
    }
  }
}
