@import 'core/styles/base';

// :local mangles the class names and makes them unique to this file
// explanation: https://github.com/css-modules/css-modules
:local {
  .container {
    margin-top: var(--duv-size-margin-m);
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: var(--duv-color-background-primary);
  }
}
