@use 'sass:math';

// Get font-size in point size (em)
// @function em
// @param    $values   {Number} list of values
// @param    $contex   {Number} base font size in pixel
// @return   {Number}  font-size in em
@function em($values, $context: $base-font-size) {
  $list: ();

  // there can be CSS attributes with more than one value
  @each $value in $values {
    $unit: unit($value);

    @if ($unit == 'em' or $unit == '') {
      $list: append($list, $value);
    } @else if ($unit == unit($context)) {
      $list: append($list, math.div($value, $context) + 0em);
    } @else if ($unit == 'rem') {
      $list: append($list, math.div($value, 1rem) + 0em);
    } @else {
      $base: unit($context);
      @warn "Incompatible units: '#{$unit}' and '#{$base}'";

      // mimic legacy behaviour
    }
  }
  @if length($list) == 1 {
    @return nth($list, 1);
  }

  @return $list;
}
