<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title><!-- slot:start:kicker --><!-- slot:end:kicker -->: <!-- slot:start:title --><!-- slot:end:title --> | ZEIT ONLINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" id="viewport-meta">
    <link rel="preload" href="https://static.zeit.de/p/zeit.web/fonts/tabletgothic/TabletGothic-Regular.woff2?v1" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://static.zeit.de/p/zeit.web/fonts/tabletgothic/TabletGothic-Bold.woff2?v1" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://static.zeit.de/p/zeit.web/fonts/franziska/FranziskaWebPro.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="https://static.zeit.de/p/zeit.web/css/web.core/normalize.b648639a8a670ac0c5193dc2aa040d9c.css">
    <link rel="stylesheet" href="https://static.zeit.de/p/zeit.web/css/web.site/base/base.88c6df605efdc9d1d3f590ebac46302a.css">
    <link rel="stylesheet" href="https://static.zeit.de/p/zeit.web/css/web.site/content/content.8db469e2f51529e35ee26d2af95a4690.css">
  </head>
  <body>
    <!-- slot:start:content --><!-- slot:end:content -->
  </body>
</html>
