<aside id="paywall" class="gate gate--paid article__item article__item--rimless" aria-label="Bezahlschranke"
  data-ct-area="gate" data-ct-row="paid" data-ct-column="false" data-vt-parameter="article.schranke...view"
  data-vt-link-id="#schranke-paid">
  <a id="comments"></a> <svg class="svg-symbol gate__icon" width="28" height="23" preserveAspectRatio="xMinYMin meet"
    aria-hidden="true">
    <use xlink:href="#svg-zplus"></use>
  </svg>

  <h3 class="gate__title gate__title--paid">Wählen Sie Ihren Zugang und lesen Sie weiter:</h3>
  <div class="gate__offer">
    <input class="gate__option" id="gate-option-1" type="radio" name="angebot" value="b" checked="checked">
    <label for="gate-option-1" class="gate__label gate__label--paid">Digital-Zugang</label>

    <div class="gate__actions">
      <ul class="gate__list">
        <li class="gate__list-item">
          Alle Artikel auf ZEIT ONLINE frei
        </li>
        <li class="gate__list-item">
          Über 1.200 Rezepte im Wochenmarkt
        </li>
        <li class="gate__list-item">
          Zusätzlich jeden Mittwoch die Wochenausgabe als E-Paper
        </li>
        <li class="gate__list-item">
          4 Wochen für nur 1,00 € testen
        </li>
      </ul>
      <form aria-label="Jetzt für 1,00 € testen" action="https://premium.zeit.de/bestellung/2021506" class="gate__form"
        data-ct-column="digital" data-ct-subcolumn="false">
        <input type="hidden" name="angebot" value="">
        <input type="hidden" name="entry_service" value="schranke-paid">
        <input type="hidden" name="product_id" value="zede">
        <input type="hidden" name="url"
          value="https://premium.zeit.de/abo/paywall?url=https%3A%2F%2Fwww.zeit.de%2Fgesellschaft%2F2022-07%2Fjuergen-boehm-fachkraeftemangel-handwerk-realschule%23success-registration">
        <input type="hidden" name="wt_zmc" value="fix.int.zonaudev.diezeit.wall_abo.premium.bar_paid.link.zede">
        <input type="hidden" name="utm_medium" value="fix">
        <input type="hidden" name="utm_source" value="diezeit_zonaudev_int">
        <input type="hidden" name="utm_campaign" value="wall_abo">
        <input type="hidden" name="utm_content" value="premium_bar_paid_link_zede">
        <input class="gate__button" type="submit" value="Jetzt für 1,00 € testen" data-ct-label="button-b1">
      </form>
    </div>

  </div>
  <div class="gate__offer">
    <input class="gate__option" id="gate-option-2" type="radio" name="angebot" value="a">
    <label for="gate-option-2" class="gate__label gate__label--paid">Digital-Zugang für <span
        class="nowrap">ZEIT-Abonnenten</span></label>

    <div class="gate__actions">
      <ul class="gate__list">
        <li class="gate__list-item">
          Alle Artikel auf ZEIT ONLINE frei
        </li>
        <li class="gate__list-item">
          Über 1.200 Rezepte im Wochenmarkt
        </li>
        <li class="gate__list-item">
          Zusätzlich jeden Mittwoch die Wochenausgabe als E-Paper
        </li>
        <li class="gate__list-item">
          Ergänzend zu Ihrem Print-Abonnement
        </li>
        <li class="gate__list-item">
          4 Wochen für nur 1,00 € testen
        </li>
      </ul>
      <form aria-label="Jetzt für 1,00 € testen" action="https://premium.zeit.de/bestellung/2021508" class="gate__form"
        data-ct-column="digital" data-ct-subcolumn="false">
        <input type="hidden" name="angebot" value="">
        <input type="hidden" name="entry_service" value="schranke-paid">
        <input type="hidden" name="product_id" value="zede">
        <input type="hidden" name="url"
          value="https://premium.zeit.de/abo/paywall?url=https%3A%2F%2Fwww.zeit.de%2Fgesellschaft%2F2022-07%2Fjuergen-boehm-fachkraeftemangel-handwerk-realschule%23success-registration">
        <input type="hidden" name="wt_zmc" value="fix.int.zonaudev.diezeit.wall_abo.premium.bar_paid.link.zede">
        <input type="hidden" name="utm_medium" value="fix">
        <input type="hidden" name="utm_source" value="diezeit_zonaudev_int">
        <input type="hidden" name="utm_campaign" value="wall_abo">
        <input type="hidden" name="utm_content" value="premium_bar_paid_link_zede">
        <input class="gate__button" type="submit" value="Jetzt für 1,00 € testen" data-ct-label="button-b1">
      </form>
    </div>

  </div>

  <p class="gate__note">
    Sie sind bereits Digital-Abonnent?
    <a href="https://meine.zeit.de/anmelden?url=https://www.zeit.de/gesellschaft/2022-07/juergen-boehm-fachkraeftemangel-handwerk-realschule%23success-registration&amp;entry_service=schranke-paid"
      class="gate__link">
      Hier anmelden
    </a>
  </p>
</aside>
<link rel="stylesheet"
  href="https://static.zeit.de/p/zeit.web/css/web.core/standalone/gate.0035540dddf4e9cbbfcd93df57db1615.css">
<script>document.documentElement.dataset.isTruncatedByPaywall = true</script>