@import 'core/styles/base';

[data-prop-display='scrollable-video-start'] {
  position: sticky;
  top: 0;
}

:local {
  .wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    canvas,
    video,
    > picture img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      z-index: 9;
    }
    > picture img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
  }
}
