@import 'core/styles/base';
:local {
  .line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .area {
    stroke: none;
  }

  .lastValue {
    @include font-sans-s;
    font-weight: 700;
  }

  .lastValueLine {
    stroke: var(--duv-color-text-secondary);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
