@import 'core/styles/base';

:local {
  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    path {
      stroke: none;
      shape-rendering: crispEdges;
      // transition: fill 0.1s; too slow
    }
  }
}
